body {
  margin: 0;
  padding: 0;
  background: #181e23;
  width: 100%;
}
.home .container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}
@media only screen and (min-width: 768px) {
  .home .container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
  }
}
canvas {
  position: absolute;
  max-width: 1280px;
  margin: 0 auto;
  z-index: -1;
  top: 0;
  left: 0;
}

@media (prefers-reduced-motion) {
  canvas {
    display: none;
  }
}
.derby {
  cursor: help;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
}
.button {
  background: none;
  cursor: pointer;
  color: #328cff;
  text-decoration: none;
  position: relative;
  border: 3px solid #0358f7;
  border-radius: 25px;
  padding: 20px 80px;
  margin: 30px;
  position: absolute;
  right: 0;
  top: 0;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  overflow: hidden;
  display: none;
}
@media only screen and (min-width: 768px) {
  .button {
    display: block;
  }
}
.button:before {
  content: 'About';
  left: 0;
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: .2s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}



.button:after {
  content: '🥳 🎉 🤠';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 100%;
  top: 0;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: 0;
  font-size: 22px;
  transition: .2s ease-in;
}
@media (prefers-reduced-motion) {
  .button:after  {
    display: none;
  }
}

.button:hover:before {
  left: -100%;
  opacity: 0;
  transition: 0.2s cubic-bezier(0.24, 0.8, 0.79, 0.63);
}
@media (prefers-reduced-motion) {
  .button:hover:before  {
    left: 0;
    opacity: 1;
    color: #fff;
  }
}


.button:hover:after {
  left: 0;
  opacity: 1;
  transition: 0.2s cubic-bezier(0.24, 0.8, 0.79, 0.63);
}
p, li {
  font-family: 'Quicksand', sans-serif;
  line-height: 25px;
  letter-spacing: 1px;
}
h1 {
  margin: 0;
  color: #0358f7;
  font-family: 'Knewave', sans-serif;
  font-size: 8.5vw;
  letter-spacing: 4px;
}
@media only screen and (min-width: 768px) {
  h1 {
    margin-top: -100px;
  }
}
h2 {
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 0;
  letter-spacing: 3px;
  color: #328cff;
  font-size: 18px;
  font-weight: 200;
  text-transform: uppercase;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 1.5vw;
  }
}

@media only screen and (min-width: 768px) {
  .about {
    margin-top: 100vh;
  }
}
.about h2 {
  color: #0358f7;
  font-weight: 700;
}
.about .container {
  background: #fff;
  padding: 30px 20px;
}
@media only screen and (min-width: 1280px) {
  .about .container {
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 768px) {
  .about .content {
    padding: 50px 10px 0;
    max-width: 50%;
  }
}
@media only screen and (min-width: 1280px) {
  .about .content {
    padding: 50px 100px 0;
  }
}

.about .content:last-of-type {
  padding-bottom: 50px;
}

.about a {
  padding-bottom: 2px;
  color: #328cff;
  text-decoration: none;
}

.about a:not(.blog):hover,
.about a:not(.blog):focus {
  border-bottom: 1px solid #0358f7;
}
 
.content-full-width {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .content-full-width {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px 10px 0;
  }

  .content-full-width div {
    width: 100%;
  }
  .client-work div {
    width: 100%;
  }
}
@media only screen and (min-width: 1280px) {
  .content-full-width {
    flex-wrap: nowrap;
    padding: 50px 100px 0;
  }
  .content-full-width div {
    padding-right: 80px;
  }
}
.about .about-content {
  display: flex;
  width: 100%;
  max-width: fit-content;
  flex-direction: column-reverse;
}
@media only screen and (min-width: 768px) {
  .about .about-content {
    flex-direction: row;
  }
}
@media only screen and (min-width: 768px) {
  .about-content div {
    width: 60%;
  }
}
.about-content .image {
  width: 275px;
  text-align: right;
  position: relative;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .about-content .image {
    width: 40%;
    margin: 0 0 30px;
  }
}

.about-content img {
  width: 275px;
  height: 275px;
  object-fit: cover;
}
.derby-image {
  display: none;
}
@media only screen and (min-width: 768px) {
  .derby-image {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: .2s ease-in;
  }
}

@media (prefers-reduced-motion) {
  .derby-image {
    display: none;
  }

  .derby {
    cursor: default;
  }
}

.derby-image.show {
  opacity: 1;
  transition: .2s ease-in;
}
ul {
  padding: 0 0 0 20px;
}

.blog {
  text-decoration: none;
  position: relative;
  display: block;
  padding-left: 20px;
  margin-bottom: 50px;
}

.blog:hover,
.blog:focus {
  outline: 1px solid #0358f7;
}
.blog:last-of-type {
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) {
  .blog:last-of-type {
    margin-bottom: 100px;
  }
}

.blog:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: #328cff;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  color: #328cff;
  letter-spacing: 1px;
  font-weight: 700;
}

.blog p {
  color: #000;
}
.client-work ul ul {
  margin-bottom: 20px;
}
.client-work ul ul b {
  font-weight: 500;
}
