body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}
.row {
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
}
.contact {
  color: #171717;
  padding: 50px 0 0;
}
.contact nav li:last-of-type {
  display: flex;
}
h1 {
  font-weight: 400;
  font-size: 30px;
  margin: 0;
}
h2 {
  font-weight: 700;
  font-size: 70px;
  text-align: center;
  padding: 0 0 20px;
  position: relative;
}
h2:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 5px;
  background: #ffa0a0;
  bottom: 5px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.contact h2 {
  font-weight: 400;
  text-align: left;
  font-size: 25px;
  margin: 0;
}
.contact h2:after {
  margin: 0;
}
h3 {
  font-weight: 400;
  max-width: 500px;
  margin: 0 auto;
  font-size: 25px;
  letter-spacing: .5px;
  margin-bottom: 50px;
  text-align: center;
}
.contact h3 {
  margin: 50px 0 30px;
  text-align: left;
}
h4 {
  font-size: 17px;
  margin-bottom: 5px;
  letter-spacing: .5px;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: .75px;
  margin-bottom: 30px;
}
p span {
  color: #ffa0a0;
}
main {
  background: #171717;
  color: #fff;
  padding: 50px 0 75px;
}
.contact section {
  padding-left: 20px;
  position: relative;
}
.contact section:before {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: 1px;
  background: #ffa0a0;
}
nav {
  padding: 50px 0;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
nav li {
  list-style: none;
  margin-bottom: 20px;
}
nav li:last-of-type {
  display: none;
}
nav a {
  text-decoration: none;
}
nav i {
  font-size: 25px;
  color: #ffa0a0;
}
.resume {
  display: flex;
  padding: 10px 25px;
  color: #ff9f9f;
  font-weight: 700;
  border: 3px solid #ffa0a0;
  text-transform: uppercase;
  letter-spacing: 1px;
  flex-direction: column;
  text-align: center;
}
.hero {
  background: linear-gradient(0deg,rgb(23, 23, 23),rgba(255, 61, 0, 0.44)), url(../images/hero.png);
  background-position: bottom;
  background-size: cover;
  position: relative;
  width: 100vw;
  height: 60vh;
}
.last-button {
  max-width: 150px;
  margin: 20px auto 0;
  position: relative;
}
section h2,
section p {
  color: #171717;
}

@media only screen and (min-width: 768px) {
  h3 {
    margin: 60px auto 80px;
  }
  nav li {
    padding: 5px;
    margin-bottom: 0;
  }
  nav li:hover {
    transform: scale(1.2) translate(0px, -7px);
    transition: .15s ease-in;
  }
  nav li:last-of-type:hover {
    transform: none;
  }
  nav li:last-of-type {
    display: block;
  }
  .last-button {
    display: none;
  }
  .hero {
    background: linear-gradient(0deg,rgb(34, 34, 34),rgba(255, 61, 0, 0.44)), url(../images/hero.png);
    height: 70vh;
    background-position: 10%;
  }
  main {
    background: #222222;
  }
  section h2,
  section p {
    color: #222222;
  }
}
