body {
  margin: 0;
  padding: 0;
  background: #fdfbeb;
  width: 100%;
}
.home .container {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
}
@media only screen and (min-width: 768px) {
  .home .container {
    text-align: center;
    position: absolute;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    height: auto;
    background: #11949c1a;
  }
}
canvas {
  position: absolute;
  max-width: 1280px;
  max-height: 706px;
  margin: auto;
  z-index: -5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (prefers-reduced-motion) {
  canvas {
    display: none;
  }
}

.container {
  margin: 0 auto;
  /* max-width: 1280px; */
}
.button {
  background: #e8f1e38c;
  cursor: pointer;
  color: #043973;
  text-decoration: none;
  position: relative;
  border: 3px solid #043973;
  padding: 10px 20px;
  margin: 20px 0;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  max-width: fit-content;
}
@media only screen and (min-width: 768px) {
  .button {
    display: block;
  }
}
.button-container {
  width: 100%;
  display: flex;
  margin-top: 10px;
}

@media only screen and (min-width: 768px) {
  .button-container {
    justify-content: center;
  }
}
.banner-span {
  background: #4a34ff;
  color: #e2f4ec;
  display: block;
  padding: 10px 20px;
  display: block;
  font-size: 15px;
  width: fit-content;
  margin: 0 0 10px;
  text-transform: none;
}
@media only screen and (min-width: 768px) {
  .banner-span {
    position: absolute;
    right: 0;
    top: 10px;
  }
}

.button:hover,
.button:focus-visible {
  background: #81b8d52b;
  transition: 0.2s cubic-bezier(0.24, 0.8, 0.79, 0.63);
} 

.button:focus-visible {
  outline: 3px dashed #f19870;
  transition: 0s;
}

h1 {
  margin: 0;
  color: #4a34ff;
  text-shadow: 3px 3px #16bfec75;
  font-family: 'Knewave', sans-serif;
  font-size: 8.5vw;
  letter-spacing: 4px;
}
@media only screen and (min-width: 768px) {
  h1 {
    text-shadow: 9px 9px #16bfec75;
  }
}
h2 {
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 0;
  letter-spacing: 1px;
  color: #063873;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 10px;
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 2.3vw;
    font-weight: 700;
  }
}
